{% if left[i] != right[i] %}
    if (input.{{ input_dtypes[features[i]] | var }} < {{ thresholds[i] }}f) {
        {% with i = left[i] %}{% include "./_tree" %}{% endwith %}
    }
    else {
        {% with i = right[i] %}{% include "./_tree" %}{% endwith %}
    }
{% else %}
    output.regression.value = {{ values[i].mean() }}f;
    return;
{% endif %}